<div class="detail-categories">
  <form>
    <button type="button" class="close" (click)="closePopUp()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <div class="form-group">
      <p><strong><span>ID : {{file?.id}}</span></strong><strong><span>ID : {{file?.name}}</span></strong></p>
    </div>

      <!-- Agrega las categorias al PopUp!!-->
      <form #f="ngForm">
      <input #newCategory
             (keyup.enter)="addCategory(newCategory.value)">
          <button type="button" (click)="addCategory(newCategory.value)">Add</button>
          <button type="button" (click)="removeCategory(newCategory.value)">Remove</button>
          <button type="button" (click)="deleteAllCategory()">Delete All</button>
          <h4>Categories: </h4>
          <p *ngIf="categories.length==0">No hay Categorias</p>
          <ul *ngFor="let categoryname of categories">
              <li>{{categoryname}}</li>
          </ul>

      </form>

    <!--<form #f="ngForm" novalidate>
      <div class="checkbox checkbox-primary" *ngFor="let categoryname of my_categories;let i=index;">
        <label for="categoryname">
          <input type="checkbox" name="categoryname[{{i}}]"  [value]="categoryname"
                 (change)="categories.push($event.target.getAttribute('value').toString())"/>
          {{categoryname}}
        </label>
      </div>
      <button type="submit" (click)="save(f.valid)" class="btn btn-default">Submit</button>
      <button type="button" (click)="closePopUp()" class="btn btn-default">Cancel</button>
    </form>-->

  </form>
</div>