<!-- header banner - top banner -->
<app-top-banner></app-top-banner>

<div class="col-md-6">

    <p>Welcome to Mini Drive</p>

    <h3>My Files :</h3>
    <table class="my-table">
        <tr>
            <th>Id</th>
            <th>Archivo</th>
            <th>Ruta</th>
            <th>Opciones</th>
            <th></th>
        </tr>
        <tr *ngFor=" let file of files">
            <td>{{file.id}}</td>
            <td>{{file.name}}</td>
            <td>{{file.path}}</td>
            <td><button (click)="openAddCategories(file)" class="btn btn-sm btn-outline-primary  ">Categories</button></td>
            <td><button (click)="openAddShare(file)" class="btn btn-sm btn-outline-primary  ">Share</button></td>
        </tr>
    </table>
    <br>

    <p><a [routerLink]="['/view-categories']">Search By Category</a></p>

    <p><a [routerLink]="['/view-my-shares']">Shared with me!!</a></p>
</div>

<!-- pop-up categoires-->
<app-add-categories *ngIf="showAddCategories" [file]="selectedFile" (closeModal)="changeStatePopUp(false)"></app-add-categories>
<!-- pop-up share-->
<popUp-add-share *ngIf="showAddShare" [file]="selectedFile" (closeModal)="changeStatePopUpShare(false)"></popUp-add-share>