<div class="detail-shares">
  <form>
    <button type="button" class="close" (click)="closePopUp()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <div class="form-group">
      <p><strong><span>ID : {{file?.id}}</span></strong><strong><span>ID : {{file?.name}}</span></strong></p>
    </div>

    <!-- Agrega los archivos compartidos al PopUp!!-->

    <input #newUser
           (keyup.enter)="addShare(newUser.value)">
    <button type="button" (click)="addShare(newUser.value)">Add</button>
      <button type="button" (click)="delShare(newUser.value)">Remove</button>
    <p *ngIf="message.length>0">{{message}}</p>

  </form>
</div>